<!DOCTYPE html>
<html>
  <head>
    <title>IntellaFeed</title>
    <!-- Bootstrap -->
    <!-- <link rel="icon" type="image/png" href="/images/favicon.ico"> -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <style type="text/css">
      .entity {
        border-bottom: 1px dashed #BADA55;
        display: inline;
        cursor: pointer;
      }
      #dialog {
        height: 50px;
        overflow: scroll;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">IntellaFeed</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/settings">Settings</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" id="main_body" style="margin-top: 85px;">
      {% for item in feed_items %}
        <img src="{{ item['logo_url']}}" width="80px;" style=""/>
        {% if item['html'] %}
        <span>{{ item['html'] }}</span>
        {% elif item['description'] %}
        <span>{{ item['description'] }}</span>
        {% else %}
        <span>{{ item['title'] }}</span>
        {% endif %}
        <a href="{{ item['URL'] }}" target="_blank">&#8594;</a>
        <hr />
      {% endfor %}
    </div>

    <div id="dialog" style="border:1px solid #ccc;font-size:11px;height:200px;overflow:scroll;">
      <p>No results found</p>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
      $(function() {
        $( "#dialog" ).dialog({
          autoOpen: false,
        })
      });
      function getInfobox(url) {
        var yqlQuery = 'select * from html where url="' + url + '" AND xpath=\'//*[contains(@class,"infobox")]\';';
        var yqlURL = 'http://query.yahooapis.com/v1/public/yql?q=' + escape(yqlQuery) + '&format=xml&callback=infobox';
        console.log(yqlURL);
        $.ajax({
          url: yqlURL,
          /* }).done(function(data) { */
          /* console.log(data); */
          /* $('.container').append(result); */
          });
      }
    
      function infobox(data) {
        console.log(data);
        var results = data.results[0];
        $('#dialog').html(results);
        $("#dialog").css({height: "200px"});
        $( "#dialog" ).dialog( "open" );
      }
    </script>
  </body>
</html>

