<!DOCTYPE html>
<html>
  <head>
    <title>IntellaFeed</title>
    <!-- Bootstrap -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .icon-remove {
        visibility: hidden;
      }
      .control-group:hover > .controls > .icon-remove {
        visibility: visible;
      }
      .form-horizontal .control-group {
        margin-left: 115px;
      }
    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/bootstrap.min.js"></script>
    
    <script type="text/javascript">
      numItems = 1;
      function addAnotherItem() {
        itemId = numItems + 1;
        var htmlStr = "<div class=\"control-group\" id=\"cg-" + itemId + "\">" +
                          "<div class=\"controls\">" + 
                            "<input type=\"text\"  class=\"input-xlarge\" name=\"item" + itemId + "\" id=\"inputItem" + itemId + "\" placeholder=\"Feed URL\">" +
                          "</div>" +
                          "</div>";
        console.log("Hello");
        $('#cg-' + numItems).after(htmlStr);
        numItems++;
      }
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">IntellaFeed</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#settings">Settings</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        <form class="form-horizontal" method="post" action="/save_settings">
          <div class="control-group" id="cg-1">
            <div class="controls" style="margin-left:50px;">
              {% if feeds %}
              <label>Your feeds:</label>
              <hr />
              {% set index = 1000 %}
              {% for feed in feeds%}

              <ul>{{ feed }}</ul>
              <input type="hidden" name="item{{index}}" value="{{feed}}">
              {% set index = index + 1 %}
              {% endfor %}
              {% endif %}
              <hr />
              <input type="text" class="input-xlarge" name="item1" id="inputItem1" placeholder="Feed URL">
              <button type="button" class="btn btn-info" id="addItem" onclick="addAnotherItem();">Add another item</button>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Save</button>
              <a class="btn" href="/">Cancel</a>
            </div>
          </div>
        </form>
    </div>
    </div>

  </body>
</html>
